.App {
  text-align: center;
}

.dark {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.theme-button {
  margin-top: 15px;
  height: 50px;
  cursor: pointer;
}

.search-bar {
  height: 45px;
  width: 300px;
  margin-top: 15px;
}

.responsive-grid {
  margin-left: 40px;
}
